@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    
    height: 100vh;
    width: 100vw;
}
header{
    position: relative;
}


.homeH2 {
    text-decoration: underline;
}

.myFooter {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
}

.homeArticle {
    background-color: rgba(40, 31, 24, 0.7);
}
@media (max-width: 640px) {
    .myh1 {
        display:none;
    }

}


